<div class="relative">
  <%= form_with(model: team) do |form| %>
    <% if team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
        <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.rich_text_area :description, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :time_zone, class: 'form-label' %>
      <%= form.time_zone_select :time_zone, nil, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit class: 'btn btn-primary' %>

      <% if team.persisted? %>
        <%= link_to "Cancel", team, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", teams_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
  <% if team.persisted? %>
    <div class="inline-block absolute right-0 bottom-0">
      <%= button_to 'Destroy', team, method: :delete, class: "text-danger btn bg-red-500 text-white hover:bg-red-400 text-sm font-medium", data: { turbo_confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
