<div class="sm:flex flex-row gap-12">
  <div class="max-w-prose">
    <h2>Create or join a team</h2>

    <% if current_user&.team %>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-green-500 inline-block">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        All set! Your team is <b><%= link_to current_user&.team&.name, current_user&.team %></b>.
      </p>

      <h4>GitHub Repositories</h4>
      <p>We will create a GitHub repository for your team to submit your entry.</p>
      <p>You'll get access to this on <%= latest_event.start_time.strftime("%B #{latest_event.start_time.day.ordinalize}") %></p>
      <p class="bg-gray-100 p-4 rounded-lg text-gray-900 text-sm">Repos will be kept private and you're free to continue working on your application after the Hackathon ends.</p>

      <% if current_user&.team&.github_repo? %>
        <%= link_to "GitHub Repository", "https://github.com/#{current_user&.team&.github_repo}", target: :_blank, class: "btn btn-white" %>
      <% end %>
    <% else %>

      <h4>Organizing a team?</h4>
      <p><%= link_to "Create your team", new_team_path, class: "btn btn-small btn-primary" %> and invite your collaborators. Teams can be 1-4 people. </p>

      <h4>Joining a team? </h4>
      <p>Ask your team leader to invite you to the team.</p>
    <% end %>

    <hr />

    <h2>What's next?</h2>

    <h4>Start planning!</h4>
    <p>You can't code ahead of time, but you can do as much planning as you want. Figure out what you want to build, how you plan to do it, and get prepared. Feel free to build paper mockups of the UI, database entity diagrams, etc, but no digital assets until the hackathon starts.</p>
    <p>Remember, this is a Rails Hackathon with the theme of <b>Supporting the Rails Community</b> this year. Your application should:</p>
    <ul>
      <li>Use Ruby on Rails</li>
    </ul>

    <h4><%= ordinalize_event_datetime(latest_event.start_time) %> - It begins!</h4>
    <p>Start hacking! We'll give you access to a GitHub repo to push your code when the hackathon starts. Keep an eye out for a GitHub email invite!</p>

    <h4>Push updates and deploy regularly</h4>
    <p>We want to see your progress! Push your code to the GitHub repo and deploy your application often. Your live application will be used by other participants and as part of judging, so make sure it works!</p>
    <p>Where should you deploy your app? Anywhere you like.<br/>We recommend <%= link_to "Fly.io", "https://fly.io", target: :_blank %>, <%= link_to "Render", "https://render.com", target: :_blank %>, <%= link_to "Heroku", "https://heroku.com", target: :_blank %>, or a VPS like <%= link_to "DigitalOcean", "https://m.do.co/c/87fcb9dab7a3", target: :_blank %>, <%= link_to "Hetzner", "https://www.hetzner.com/cloud", target: :_blank %>, <%= link_to "Vultr", "https://www.vultr.com/?ref=7302215", target: :_blank %>, or other hosting providers.</p>

    <p>If you are using a VPS, you can manage your deploys with our own <%= link_to "Hatchbox", "https://app.hatchbox.io", target: :_blank %>.</p>

    <h4>Submit your entry on <%= ordinalize_event_datetime(latest_event.end_time) %></h4>
    <p>Finish up your app, push it to GitHub, and make your final deploy. We will look at the GitHub repo and deployed app to judge your entry. Don't continue working on your app or you will be disqualified. We want this to be fair and fun for everyone!</p>
  </div>

  <div class="ml-auto">
    <iframe src="https://discord.com/widget?id=959086149270396990&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
</div>
