<h1 class="text-4xl mb-0">Rails Hackathon July 2023 Winners</h1>
<p class="text-xl">We had 111 teams and 37 submitted entries in 2023! We consider that a smashing success for our second event and hope you all enjoyed it. There were some wonderful entries this year. Great work and a huge thank you to everyone who participated!</p>
<p class="text-xl">Here's a look at the top entries for 2023.</p>

<h2>Judges' Favo(u)rite</h2>
<%= link_to image_tag("winners/gem-sh.png", class: "max-w-lg"), entry_path(57) %>
<p><%= link_to "Gem.sh by Awesome Docs", entry_path(57) %> won this year's Judge's Favo(u)rite. Gem.sh is the cutting-edge documentation hub designed to revolutionize the way you interact with your favorite gems. Gem.sh statically analyzes and parses your favorite gems on the fly to provide annotated code, navigation, and documentation in a nice package.</p>

<h2>Best Solo</h2>
<%= link_to image_tag("winners/rails-duels.png", class: "max-w-lg"), entry_path(55) %>
<p><%= link_to "Rails Duels by Lazy Lambda", entry_path(55) %> won this year's Best Solo award. It's A thrilling quiz app that self.puts Ruby on Rails developers against each other. It is a really fun entry. Make sure to give it a try!</p></p>

<h2>Community Favorite</h2>
<%= link_to image_tag("winners/locale-ninja.png", class: "max-w-lg"), entry_path(53) %>
<p><%= link_to "Locale Ninja", entry_path(53) %> won this years Community Favo(u)rite. LocaleNinja simplifies the management of translations on a website. Unlike traditional solutions that require connecting to an external platform, LocaleNinja is a Git-based gem installed directly in your project, allowing you to maintain full control over your translations without relying on a third-party service.</p>

<h2>Other Entries</h2>
<p>There were so many other great entries submitted this year that it was hard to pick the winners! Check out the leaderboard to see all the entries and what the community voted for the most.</p>
<p class="mb-16"><%= link_to "View Leaderboard", event_leaderboard_path(2), class: "btn btn-white btn-lg" %></p>