<div class="grid md:grid-cols-4 gap-4">
  <div class="col-span-3">
    <div class="mb-8">
      <%= link_to "â† Back to all Entries", event_entries_path(@entry.event), class: "no-underline text-sm" %>
    </div>

    <h1 class="mb-2"><%= @entry.title %></h1>
    <div class="mt-4">
      <%= @entry.description %>
    </div>
    <%= render @entry.team %>
    <h4>Built with:</h4>
    <div class="mt-6">
      <%= @entry.built_with %>
    </div>

    <% if @entry.screenshots.attached? %>
      <h4>Application Screenshots</h4>
      <% @entry.screenshots.each do |screenshot| %>
        <% if screenshot.variable? %>
          <%= link_to(screenshot, target: "_blank") do %>
            <%= image_tag(screenshot.variant(resize_to_limit: [500, 500])) %>
          <% end %>
        <% else %>
          <%= link_to(screenshot.filename, screenshot, target: "_blank") %>
        <% end %>
      <% end %>
    <% end %>

    <div class="flex space-x-8 mt-6">
      <% if @entry.team.team_member?(current_user) || current_user&.admin? %>
        <%= link_to "Edit Entry", edit_entry_path(@entry), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="col-span-1">
    <% if @entry.complete? %>
      <span class="p-2 rounded-md bg-green-200 text-green-900 text-sm font-medium">
        Complete
      </span>
    <% else %>
      <span class="p-2 rounded-md bg-yellow-200 text-yellow-900 text-sm font-medium">
        Incomplete
      </span>
    <% end %>

    <div class="mt-6">
      <%= link_to @entry.website_url, target: "_blank", class: "btn btn-white" do %>
        View Application
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-2 w-4 h-4">
          <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>

    <% if current_user&.admin? || current_user&.team&.entry == @entry %>
      <div class="mt-6">
        <%= link_to "View on GitHub", @entry.github_url, target: "_blank", class: "btn btn-white" %>
      </div>
    <% end %>

    <hr/>

    <div class="mt-6">
      <%= pluralize(@entry.votes.size, "vote") %>
    </div>

    <% if user_signed_in? && current_user.voted_for_entry?(entry: @entry) %>
      <%= button_to "Remove vote", event_vote_path(@event, current_user.vote_for_entry(@entry)), method: :delete, class: "mt-6 btn btn-white", data: { turbo_confirm: "Are you sure?" } %>
    <% else %>
      <%= button_to "Vote for this application", event_votes_path(@event, entry: @entry), class: "mt-6 btn bg-green-500 text-white hover:bg-green-400" %>
    <% end %>
  </div>
</div>
