<h1><%= @event.theme %></h1>
<div class="flex justify-between">
  <h2 class="text-3xl my-0"><%= pluralize @event_entries.size, "Entry" %></h2>
  <% if user_signed_in? %>
    <div>
      <% if current_user.team&.entry %>
        <%= link_to "My Entry", current_user.team.entry, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Submit your Entry", new_entry_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_stream_from @event %>
<div id="entries" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  <%= render partial: "entries/entry", collection: @event_entries %>
</div>
