<h1><%= @event.theme %></h1>
<div class="flex justify-between">
  <div>
    <h2 class="text-3xl my-0"><%= pluralize @event_teams.size, "Team" %></h2>
    <p class="mt-2"><%= pluralize @total_developers, "developer" %> across <%= pluralize @event_teams.size, "team" %> are building Rails apps this hackathon.</p>
  </div>

  <% if user_signed_in? %>
    <div>
      <% if current_user.team %>
        <%= link_to "My Team", team_path(current_user.team), class: 'btn btn-primary' %>
      <% elsif @event.active? %>
        <%= link_to "Create a Team", new_team_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_stream_from @event %>
<div id="teams" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  <%= render partial: "teams/team", collection: @event_teams %>
</div>
