<div class="flex justify-between">
  <h1 class="mb-0"><%= pluralize @event.users.count, "Participant" %> across <%= pluralize @event.teams.count, "Team" %></h1>

  <% if user_signed_in? %>
    <div>
      <% if current_user.team %>
        <%= link_to "My Team", team_path(current_user.team), class: 'btn btn-primary' %>
      <% elsif @event.active? %>
        <%= link_to "Create a Team", new_team_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_stream_from @event %>
<div id="teams" class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  <%= render partial: "teams/team", collection: @event_teams %>
</div>
