<h1>Resources</h1>

<h2>Need help? Ask in Discord</h2>
<p>You'll be working alongside lots of other Ruby on Rails developers during the Rails Hackathon. If you need help with anything, just hop in the Discord and let us know what you need help with!</p>
<%= link_to "Join Discord", "https://discord.gg/Up8SM8uz2K", target: :_blank, class: "btn btn-primary" %>

<h2>Stimulus Documentation</h2>
<p>Stimulus is a Javascript framework for the HTML you have. It allows you to neatly organize Javascript behavior and is compatible with Turbo out of the box.</p>
<%= link_to "View Stimulus Docs", "https://stimulus.hotwired.dev/", target: :_blank, class: "btn btn-white" %>

<h2>Turbo Documentation</h2>
<p>Turbo Drive, Frames, Streams, and Native lets you build SPA-like applications without having to write any Javascript.</p>
<%= link_to "View Turbo Docs", "https://turbo.hotwired.dev/", target: :_blank, class: "btn btn-white" %>

<h2>Rails Guides</h2>
<p>Rails Guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.</p>
<%= link_to "View Rails Guides", "https://guides.rubyonrails.org", target: :_blank, class: "btn btn-white" %>

<h2>Rails API docs</h2>
<p>Rails API docs are built from the Rails source itself.</p>
<%= link_to "View Rails Guides", "https://api.rubyonrails.org", target: :_blank, class: "btn btn-white" %>
