<title>Rails Hackathon</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="A remote hackathon for Ruby on Rails developers.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://railshackathon.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Rails Hackathon">
<meta property="og:description" content="A remote hackathon for Ruby on Rails developers.">
<meta property="og:image" content="<%= asset_path("opengraph.png") %>">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="railshackathon.com">
<meta property="twitter:url" content="https://railshackathon.com">
<meta name="twitter:title" content="Rails Hackathon">
<meta name="twitter:description" content="A remote hackathon for Ruby on Rails developers.">
<meta name="twitter:image" content="<%= asset_path("opengraph.png") %>">

<%= favicon_link_tag asset_path("logo.png") %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap">
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap">
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism-twilight.min.css">
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism-twilight.min.css">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Montserrat:wght@400;700;800&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism-twilight.min.css">
</noscript>
