<div id="__next">
  <header class="relative z-50 pb-11 lg:pt-11">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-wrap items-center justify-center sm:justify-between lg:flex-nowrap">
      <div class="mt-10 lg:mt-0 lg:grow lg:basis-0">
        <%= link_to root_path, class: "flex items-center gap-2" do %>
          <%= image_tag "logo.svg", class: "inline-block h-8" %>
          <span class="font-bold text-2xl tracking-tighter">Rails Hackathon</span>
        <% end %>
      </div>
      <div class="order-first -mx-4 flex flex-auto basis-full overflow-x-auto whitespace-nowrap border-b border-blue-600/10 py-4 font-mono text-sm text-blue-600 sm:-mx-6 lg:order-none lg:mx-0 lg:basis-auto lg:border-0 lg:py-0">
        <div class="mx-auto flex items-center gap-4 px-4">
          <p>
            <time dateTime="2022-09-17">17</time>-<time dateTime="2022-09-18">18 September, 2022</time>
          </p>
        </div>
      </div>
      <div class="hidden sm:mt-10 sm:flex gap-2 lg:mt-0 lg:grow lg:basis-0 lg:justify-end">
        <%= link_to "Teams", teams_path, class: "inline-flex justify-center rounded-2xl p-4 text-base font-semibold text-blue-600 hover:bg-blue-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70" %>
        <%= link_to "Login", new_user_session_path, class: "inline-flex justify-center rounded-2xl p-4 text-base font-semibold text-blue-600 hover:bg-blue-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70" %>
        <%= link_to "Sign up", new_user_registration_path, class: "inline-flex justify-center rounded-2xl bg-blue-600 p-4 text-base font-semibold text-white hover:bg-blue-500 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70" %>
      </div>
    </div>
  </header>

  <main>
    <div class="relative pt-10 pb-20 sm:py-24">
      <div class="absolute inset-x-0 -top-24 -bottom-14 overflow-hidden bg-indigo-50">
        <!-- <img alt="" src="/_next/static/media/background.6c3571e0.jpg" width="918" height="1495" decoding="async" data-nimg="future" class="absolute top-0 left-0 translate-y-[-10%] translate-x-[-55%] -scale-x-100 sm:left-1/2 sm:translate-y-[-6%] sm:translate-x-[-98%] lg:translate-x-[-106%] xl:translate-x-[-122%]"/> -->
        <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
        <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
      </div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="mx-auto max-w-2xl lg:max-w-4xl lg:px-12 text-center">
          <h1 class="font-display text-5xl font-bold tracking-tighter text-blue-600 sm:text-7xl">
            <span class="sr-only">Rails Hackathon- </span>A remote hackathon for Rails developers.
          </h1>
          <div class="mt-6 space-y-6 font-display text-2xl tracking-tight text-blue-900">
            <p>48 hours to build your best Ruby on Rails application with your friends.</p>
            <p>This year's theme is </p>
            
            <p><span class="text-black font-extrabold text-4xl">Supporting the Ruby on Rails Community</span></p>
            

          <%= link_to "Sign up", new_user_registration_path, class: "inline-flex justify-center rounded-2xl bg-blue-600 p-4 text-base font-semibold text-white hover:bg-blue-500 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70 mt-10 w-full sm:hidden" %>

          <dl class="mt-10 sm:mt-16 text-center">
            <div>
              <dd class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900">
                <%= link_to "https://everytimezone.com/s/c64db7ce", target: :_blank do %>
                  <span data-controller="countdown" data-countdown-date-value="2023-07-28T19:00:00.000-0000" data-countdown-prefix-value="👨‍💻 Hackathon starts in"></span>
                <% end %>
              </dd>
            </div>
          </dl>

          <!-- <div class="text-center mt-8">
            <%= link_to "See participants →", teams_path, class: "text-blue-600 font-semibold" %>
          </div> -->

        </div>
      </div>
    </div>

    <section id="schedule" aria-label="Schedule" class="py-20 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-10">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-4xl lg:pr-24">
          <h2 class="font-display text-4xl font-medium tracking-tighter text-blue-600 sm:text-5xl">Our 48 hour hackathon is open to everyone.</h2>
          <p class="mt-4 font-display text-2xl tracking-tight text-blue-900">Wanting to learn Hotwire? A seasoned Hotwire developer who wants to try a crazy idea? You're all welcome to participate in the Rails Hackathon.</p>
        </div>
      </div>
      <div class="relative mt-14 sm:mt-24">
        <div class="absolute inset-x-0 -top-40 -bottom-32 overflow-hidden bg-indigo-50">
          <img alt="" src="/_next/static/media/background.6c3571e0.jpg" width="918" height="1495" decoding="async" data-nimg="future" class="absolute left-full top-0 -translate-x-1/2 sm:left-1/2 sm:translate-y-[-15%] sm:translate-x-[-20%] md:translate-x-0 lg:translate-x-[5%] lg:translate-y-[4%] xl:translate-y-[-8%] xl:translate-x-[27%]" loading="lazy"/>
          <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
          <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
        </div>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-6 sm:grid-cols-2 lg:hidden">
            <div class="-mx-4 flex gap-x-4 gap-y-10 overflow-x-auto pl-4 pb-4 sm:mx-0 sm:flex-col sm:pb-0 sm:pl-0 sm:pr-8" role="tablist" aria-orientation="horizontal">
              <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0">
                <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                  <time dateTime="2022-04-04">
                    <button class="[&:not(:focus-visible)]:focus:outline-none" id="headlessui-tabs-tab-:R5cqdm:" role="tab" type="button" aria-selected="true" tabindex="0">
                      <span class="absolute inset-0"></span>September 17
                    </button>
                  </time>
                </h3>
                <p class="mt-1.5 text-base tracking-tight text-blue-900">The first day of the hackathon is focused on getting started on your project.</p>
              </div>
              <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 opacity-70">
                <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                  <time dateTime="2022-04-05">
                    <button class="[&:not(:focus-visible)]:focus:outline-none" id="headlessui-tabs-tab-:R6cqdm:" role="tab" type="button" aria-selected="false" tabindex="-1">
                      <span class="absolute inset-0"></span>September 18
                    </button>
                  </time>
                </h3>
                <p class="mt-1.5 text-base tracking-tight text-blue-900">Start wrapping up your project! Your app submission is due at the end of the 48 hours to qualify.</p>
              </div>
              <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 opacity-70">
                <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                  <time dateTime="2022-04-05">
                    <button class="[&:not(:focus-visible)]:focus:outline-none" id="headlessui-tabs-tab-:R6cqdm:" role="tab" type="button" aria-selected="false" tabindex="-1">
                      <span class="absolute inset-0"></span>September 19
                    </button>
                  </time>
                </h3>
                <p class="mt-1.5 text-base tracking-tight text-blue-900">We'll sit down and review all the applications and announce winners.</p>
              </div>
            </div>
          </div>
          <div class="hidden lg:grid lg:grid-cols-3 lg:gap-x-8">
            <section>
              <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                <time dateTime="2022-04-04">September 17</time>
              </h3>
              <p class="mt-1.5 text-base tracking-tight text-blue-900">The first day of the hackathon is focused on getting started on your project.</p>
            </section>
            <section>
              <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                <time dateTime="2022-04-05">September 18</time>
              </h3>
              <p class="mt-1.5 text-base tracking-tight text-blue-900">Start wrapping up your project! Your app submission is due at the end of the 48 hours to qualify.</p>
            </section>
            <section>
              <h3 class="text-2xl font-semibold tracking-tight text-blue-900">
                <time dateTime="2022-04-06">September 19</time>
              </h3>
              <p class="mt-1.5 text-base tracking-tight text-blue-900">We'll sit down and review all the applications and announce winners.</p>
            </section>
          </div>

          <ol role="list" class="mt-10 space-y-8 bg-white/60 py-14 px-10 text-center shadow-xl shadow-blue-900/5 backdrop-blur max-w-3xl mx-auto">
            <li>
              <h3 class="text-4xl">How It works</h3>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Join our Discord</h4>
              <p class="mt-1 tracking-tight text-blue-900">Use our Discord to find a team, plan your projects, and make friends.</p>
              <div class="mt-4">
                <%= link_to "Join our Discord", "https://discord.gg/Up8SM8uz2K", target: :_blank, class: "px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 hover:text-white" %>
              </div>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Register your team</h4>
              <p class="mt-1 tracking-tight text-blue-900">Teams can be 1-4 people. Sign up and create your team to register for the hackathon.</p>

              <!-- <div class="mt-4">
                <%= link_to "Register your team", new_user_registration_path, class: "px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 hover:text-white" %>
              </div> -->
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Plan your project</h4>
              <p class="mt-1 tracking-tight text-blue-900">You can't write any code ahead of time, but you can plan everything out.</p>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Start Coding</h4>
              <p class="mt-1 tracking-tight text-blue-900">We will provide a GitHub repository for you to submit your entry. You'll be able to start coding on September 17th in your timezone.</p>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Deploy</h4>
              <p class="mt-1 tracking-tight text-blue-900">Throughout the weekend, you'll want to deploy your application and test it in production. The production app will be used in judging.</p>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Submit &amp; Deploy</h4>
              <p class="mt-1 tracking-tight text-blue-900">After 48 hours, you'll stop coding, deploy one last time, and submit your final code to the GitHub repo.</p>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Judging</h4>
              <p class="mt-1 tracking-tight text-blue-900">Once everyone is done, we'll go review all the submissions, play around with the apps in production, and judge each entry.</p>
            </li>

            <li>
              <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
              <h4 class="text-lg font-semibold tracking-tight text-blue-900">Announcing Winners</h4>
              <p class="mt-1 tracking-tight text-blue-900">We will announce winners once all the entries have been judged.</p>
            </li>
          </ol>

        </div>
      </div>
    </section>

    <section id="sponsors" aria-label="Sponsors" class="py-20 sm:py-32">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h2 class="mx-auto max-w-2xl text-center font-display text-4xl font-medium tracking-tighter text-blue-900 sm:text-5xl">Thanks to our sponsors ❤️</h2>
        <div class="mx-auto mt-20 grid max-w-max grid-cols-1 place-content-center gap-y-12 gap-x-32 sm:grid-cols-3 md:gap-x-16 lg:gap-x-32">
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/gorails.svg", class: "h-8"), "https://gorails.com", target: :_blank %>
          </div>
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/jumpstart.svg", class: "h-10"), "https://jumpstartrails.com", target: :_blank %>
          </div>
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/hatchbox.svg", class: "h-10"), "https://hatchbox.io", target: :_blank %>
          </div>
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/tuple.svg", class: "h-16"), "https://tuple.app", target: :_blank %>
          </div>
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/honeybadger.svg", class: "h-10"), "https://www.honeybadger.io/?affiliate=vq7ujA", target: :_blank %>
          </div>
          <div class="flex items-center justify-center">
            <%= link_to image_tag("sponsors/flipper.svg", class: "h-10"), "https://flippercloud.io", target: :_blank %>
          </div>
        </div>
      </div>
    </section>

    <section id="newsletter" aria-label="Newsletter">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative -mx-4 overflow-hidden bg-indigo-50 py-20 px-4 sm:-mx-6 sm:px-6 md:mx-0 md:rounded-5xl md:px-16 xl:px-24 xl:py-36">
          <img alt="" src="/_next/static/media/background-newsletter.488a0204.jpg" width="919" height="1351" decoding="async" data-nimg="future" class="absolute left-1/2 top-0 translate-x-[-10%] translate-y-[-45%] lg:translate-x-[-32%]" loading="lazy"/>
          <div class="relative mx-auto grid max-w-2xl grid-cols-1 gap-x-32 gap-y-14 xl:max-w-none xl:grid-cols-2">
            <div>
              <p class="font-display text-4xl font-medium tracking-tighter text-blue-900 sm:text-5xl">Stay up to date</p>
              <p class="mt-4 text-lg tracking-tight text-blue-900">Get updates on all of our events and be the first to get notified when tickets go on sale.</p>
            </div>
            <%= form_with url: newsletter_url do |form| %>
              <h3 class="text-lg font-semibold tracking-tight text-blue-900">Sign up to our newsletter
                <span aria-hidden="true">↓</span>
              </h3>
              <div class="mt-5 flex rounded-3xl bg-white py-2.5 pr-2.5 shadow-xl shadow-blue-900/5 focus-within:ring-2 focus-within:ring-blue-900">
                <%= form.email_field :email, placeholder: "Email address", required: true, style: "--tw-ring-shadow: 0 0 #000 !important;", class: "border-none -my-2.5 flex-auto bg-transparent pl-6 pr-2.5 text-base text-slate-900 placeholder:text-slate-400 focus:outline-none" %>
                <button class="inline-flex justify-center rounded-2xl bg-blue-600 p-4 text-base font-semibold text-white hover:bg-blue-500 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70" type="submit">
                  <span class="sr-only sm:not-sr-only">Sign up today</span>
                  <span class="sm:hidden">
                    <svg aria-hidden="true" viewBox="0 0 24 24" class="h-6 w-6">
                      <path d="m14 7 5 5-5 5M19 12H5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
