<h1 class="text-4xl mb-0">Rails Hackathon 2022 Winners</h1>
<p class="text-xl">We had 84 teams and 25 submitted entries in 2022, our inaugural year! We consider that a smashing success for our very first time and hope you all enjoyed it. There were some wonderful entries this year. Great work and a huge thank you to everyone who participated!</p>
<p class="text-xl">Here's a look at the top entries for 2022.</p>

<h2>Judges' Favorite</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I8c2RJ-demw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p><%= link_to "Typefighters by Team Rubades", entries_path(25) %> won this year's Judge's Favorite award. It's a realtime game where you try and type sentences faster than your opponent. They used lots of Hotwire features to run animations and broadcast the game state in realtime. It is a really fun entry.</p>

<h2>Best Solo / Community Favorite</h2>
<%= link_to image_tag("winners/checkpoint-rails.gif", class: "max-w-lg"), entries_path(9) %>
<p><%= link_to "Checkpoint Rails", entries_path(9) %> won both the <b>Best Solo</b> and <b>Community Favorite</b> awards. It's an excellent project aiming to help Rails developers debug what happens during a request. It uses TracePoint and Rails's Instrumentation to display a graph of method calls during a Rails request. And it was all built by Jim Jones on his own over 48 hours!</p>

<h2>Most Phlex-ible</h2>
<%= link_to image_tag("winners/hottable.png", class: "max-w-lg"), entries_path(6) %>
<p><%= link_to "Hot Table", entries_path(6) %> won the Most Phlex-ible award. Their team implemented a full-featured Airtable clone with Hotwire and used Phlex components in a weekend. It was the most complete and polished entry of the whole Hackathon. Tremendous work!</p>

<h2>Kent Believe He Finished</h2>
<%= link_to image_tag("winners/kentstagram.png", class: "max-w-lg"), entries_path(10) %>
<p>Always a jokester, our beloved Kent submitted <%= link_to "Kentstagram", entries_path(10) %> so we thought we'd come up with a Kentatstic award for him: the Kent Believe He Finished award. 😜</p>

<h2>Other Entries</h2>
<p>There were so many other great entries submitted this year that it was hard to pick the winners! Check out the leaderboard to see all the entries and what the community voted for the most.</p>
<p class="mb-16"><%= link_to "View Leaderboard", leaderboard_path, class: "btn btn-white btn-lg" %></p>
