<div class="relative">
<%= form_with(model: event) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= form.label :title, "Event Theme", class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :theme, "Event Theme", class: 'form-label' %>
    <%= form.text_field :theme, class: 'form-control', placeholder: "Awesome Theme" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :start_time, "Start time", class: 'form-label' %>
    <%= form.datetime_field :start_time, class: 'form-control' %>
  </div>
  
 <div class="mb-3">
   <%= form.label :end_time, "End time", class: 'form-label' %>
   <%= form.datetime_field :end_time, class: 'form-control' %>
 </div>
 
 <div class="mb-3 flex space-x-4">
   <%= form.label :published, class: 'form-label' %>
   <%= form.check_box :published, class: 'form-control' %>
 </div>
 
  <div class="mb-3 flex justify-between">
    <div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
</div>
<% end %>

    <% if event.persisted? %>
      <div class="inline-block absolute right-0 bottom-0">
        <%= button_to 'Destroy', event, method: :delete, class: "text-danger btn bg-red-500 text-white hover:bg-red-400 text-sm font-medium", data: { turbo_confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
