<%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-white btn-small" if current_user && current_user.admin? %>

<h1 class="text-center"><%= @event.theme %></h1>
<h4 class="mt-2 text-center"><%= local_time @event.start_time, format: "%B %e, %Y %l:%M%P %Z" %> - <%= local_time @event.end_time, format: "%B %e, %Y %l:%M%P %Z" %></h4>

<div class="mt-8 flex justify-between items-center">
  <h3 class="mt-0"><%= pluralize @event.users.size, "Participant" %> &amp; <%= pluralize @event.teams.size, "Team" %></h3>
  <%= link_to "View All Teams →", event_teams_path(@event), class: "btn btn-white" %>
</div>
<div class="mt-4 grid grid-cols-6 gap-4 items-center">
  <%= render @event.teams.limit(18) %>
</div>

<div class="mt-8 flex justify-between items-center">
  <h3 class="mt-0"><%= pluralize @event.entries.size, "Entry" %></h3>
  <%= link_to "View All Teams →", event_teams_path(@event), class: "btn btn-white" %>
</div>
<div class="mt-4 grid grid-cols-6 gap-4 items-center">
  <%= render @event.teams.limit(18) %>
</div>
