


<div class="row">
  <div class="col-sm-6">
    <h1>Team_users</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_team_user_path, class: 'btn btn-primary' do %>
    Add New Team user
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Team</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @team_users.each do |team_user| %>
        <%= content_tag :tr, id: dom_id(team_user), class: dom_class(team_user) do %>
          

                      <td><%= team_user.user %></td>
                      <td><%= team_user.team %></td>
          
          
            <td><%= link_to 'Show', team_user %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
