<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="flex flex-col h-full">
    <main class="grow">
      <%= render 'shared/banner' %>
      <%= render 'shared/navbar', event: latest_event %>
      <%= render 'shared/event_sub_nav', event: @event if @event && !current_page?(events_path) %>
      <%= render 'shared/notices' %>

      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-8">
        <div class="prose max-w-none">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= render 'shared/footer' %>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@v1.x/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
