<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="flex flex-col h-full">
    <main class="grow">
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-8">
        <div class="prose max-w-none">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
